In [15]:
# Add the Pandas dependency.
import pandas as pd

In [16]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [23]:
## If you decide to get the indirect path to a file from somehwere else in the directory, you will need to import the `os` module with your Pandas dependency using the following code: 

## # Add the dependencies.

## import pandas as pd
## import os

## # Files to load
## school_data_to_load = os.path.join("Resources", "schools_complete.csv")
## student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [25]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df
## add school_data_df.head for top five rows, school_data_df.tail for bottom 5 rows, and school_data_df.head(number) for customer number of rows from the top.

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [26]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head() ## <-- .head() displays top 5 rows

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,3694,Melissa Dyer,F,12th,Figueroa High School,99,99
1,4269,Michael Stein Jr.,M,12th,Figueroa High School,99,99
2,6372,Brandon Francis,M,10th,Shelton High School,99,99
3,7117,Carol Robinson,F,10th,Shelton High School,99,99
4,7955,Jennifer Morris,F,9th,Hernandez High School,99,99